@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Epilogue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiPaper-root {
  height: 400px;
  margin-top: 10px;
  width: 310px;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --divider-color: #EBEFF2;
  --blue-800: #00113D;
  --blue-500: #293D71;
  --blue-600: #213770;
  --blue-200: #747D94;
  --orange-500: #F43724;
  --orange-400: #F43724;
  --orange-700: #F21A05;
  --gray-background: #F5F6F8;
  --gray-100: #EAECF0;
  --gray-150: #FBFBFB;
  --gray-300: #D0D5DD;
  --gray-400: #B7B7B7;
  --gray-450: #717171;
  --gray-500: #777777;
  --gray-900: #101828;
  --border-radius: 28px;
}
